.jumbotron{
    background-image: url("https://www.cdiscount.com/pdt2/2/5/6/1/700x700/gob0699929272256/rw/chargeur-solaire-pour-un-chargement-ecologique-de.jpg");
    background-repeat: no-repeat;
    width: 100%;
    background-size: 100% 100%;
}